
*{
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;

    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    footer{
        margin-top: auto;
    }
}



@media only screen and (max-width: 500px) {

    .cardslnb{
        display: block;
       
    }
    .lnbimage{
       
        display: none;
        
    }

    .home h1{
        margin-top: 3vw ;
        align-items: center;
        justify-content: center;
        justify-items: center;
        display: flex;
    }

    

    .home h3{
        margin-top: 5vh;
        margin-left: 2vw;

    }

    .tieups{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    

    .tieups img{

        width: 15vw;
        height: 15vw;
        
    }

    .tieupimg{
        display: flex;
        justify-content: center;
    }

    .tieups h1{
        margin-top: 5vw;
    }

    .coursebutton{
        justify-content: center;
        align-items: center;
        justify-items: center;
        display: flex;
        margin-bottom: 10px;
       
    }

    #btn{
        background-color: rgb(171, 108, 230);
        border-radius: 12px;
        width: 22vw;
        
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
       
    }
    
    
}



@media only screen and (min-width: 500px) {

    .cardslnb{
        display: flex;
       width: 100vw;
       justify-content: center;
    }

    .carousel{
        width: 50vw;
    }

    .lnbimage{
        margin-top: 1vh;
        display: flex;
        justify-content: center;
        
    }

    .home h1{
        margin-top: 1vw ;
        align-items: center;
        justify-content: center;
        justify-items: center;
        display: flex;
    }

    .home h3{
        margin-top: 5vh;
        margin-left: 2vw;
    }

    .tieups{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .tieups h1{
        margin-top: 3vh;
    }

    

    .tieups img{

        width: 10vw;
        height: 10vw;
        
       
        
    }

    .tieupimg{
        display: flex;
        justify-content: center;
    }

    .coursebutton{
        justify-content: center;
        align-items: center;
        justify-items: center;
        display: flex;
        margin-bottom: 10px;
       
    }



    #btn{
    
        background-color: rgb(122, 124, 213);
        border-radius: 2rem;
        width: 18vw;
        height: 5vh;
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-size: large;
        
    }
    

    

}





.lnbimage img{
    
    height: 20vw;

}

body{
    background-color: rgb(255, 255, 255);
}
